/* Generales */
*{
    margin: 0;
    padding: 0;
}

/* Generales-final */




/* Header */
.encabezado-index{
    background-color: #ffb48a;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    margin-right:20%;
}
.list-indx{
    font-family: 'Peralta', serif;
    display: flex;
    flex-direction: row;
    
}
.img-index{
    width: 100px;
}
.navbar ul li{
    list-style: none;
    padding-left: 100px;
}
.navbar ul li a{
    text-decoration: none;
    color:#320000;
    font-size: 20px;
}

/* Header-final */






/* Main-Index */
.main-index{
    background-color: rgba(165, 184, 182, 0.417);
}


/* Main-Index-final */





/* Footer */

/* Footer-final */